.wrapper {
    margin: 0 auto;
    margin-top: 200px;
    display: flex;
    text-align: center;
    max-width: 1440px;
}

.Circle {
    width: 640px;
    height: 440px;
}

.circleImage {
    width: 100%;
}

.text {
    font-family: 'Noto Sans', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600px;
    font-size: 70px;
    line-height: 90%;
    text-align: left;
    margin-left: 100px;
    margin-top: 50px;
}

.text_2 {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */
    color: #FFFFFF;
    text-align: left;
    margin-top: 40px;

}

@media only screen and (max-width:414px) {
    .wrapper {
        width: 414px;
        margin-top: 20px;
    }

    .text {
        width: 280px;
        margin-left: 20px;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 600px;
        font-size: 40px;
        line-height: 90%;
        /* or 36px */
        color: #FFFFFF;
    }

    .text_2 {
        width: 280px;
        font-style: normal;
        font-weight: 400px;
        font-size: 12px;
        line-height: 130%;
        /* or 16px */
        margin-top: 20px;
        color: #FFFFFF;
    }
    .circleImage {
        display: none;
    }
    .Circle {
        display: none;
    }
}
